:root {
    /* dark mode */
    --background: #16161a;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --button: #7f5af0;
    --btn-text: #fffffe;
    --stroke: #010101;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
    
    /* dark mode sunrise/sunset section  */
    
    --background-ss: #242629;
    --headline-ss: #fffffe;
    --subheading: #94a1b2;
    --card-bgr: #16161a;
    --card-heading: #fffffe;
    --card-paragraph: #94a1b2;
    --stroke-ss: #010101;
    --main-ss: #fffffe;
    --highlight-ss: #7f5af0;
    --secondary-ss: #72757e;
    --tertiary-ss: #2cb67d;
    
    /* light mode  */
    
    --background-l: #fffffe;
    --headline-l: #2b2c34;
    --paragraph-l: #2b2c34;
    --button-l: #7f5af0;
    --btn-text-l: #fffffe;
    --stroke-l: #2b2c34;
    --main-l: #fffffe;
    --highlight-l: #7f5af0;
    --secondary-l: #d1d1e9;
    --tertiary-l: #e45858;
    
    /* light mode sunset/sunrise section  */
    
    --background-l-ss: #f2f2f1;
    --headline-l-ss: #2b2c34;
    --subheading-l-ss: #2b2c34;
    --card-bgr-l-ss: #d1d1e9;
    --card-heading-l-ss: #2b2c34;
    --card-paragraph-l-ss: #2b2c34;
    --stroke-l-ss: #2b2c34;
    --main-l-ss: #fffffe;
    --highlight-l-ss: #7f5af0;
    --secondary-l-ss: #d1d1e9;
    --tertiary-l-ss: #e45858;
}
:root[data-theme="dark"] {
  --background-color: var(--background);
  --background-color-ss: var(--background-ss)
  /* --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1); */
  --color-heading: var(--headline);
  --color-text: var(--paragraph);
}


:root[data-theme="light"] {
    --background-color: var(--background-l);
    --background-color-ss: var(--background-l-ss);
    /* --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1); */
    --color-heading: var(--headline-l);
    --color-text: var(--paragraph-l);
  }
  

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* font-family:; */
    color: var(--color-text);
}
h1 {
    color: var(--card-heading);
}
body {
    max-width: 90rem;
    background: var(--background-color);
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    gap: 2rem;
}
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70%;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header img {
    width: 2.5rem;
}
.logo {
    max-width: 100%;
    /* width: 100%; */
    height: auto;
}
.sunrise-sunset {
    background: var(--background-color-ss);
}
